<div class="swiper bg-linear-to-r from-green-500/50 to-lime-500/50 rounded-xlx">
    <div class="swiper-wrapper">
        <div class="swiper-slide py-6">
            <p-image src="carousel0.png" alt="product" styleClass="flex justify-center w-full object-cover" />
        </div>
        <div class="swiper-slide py-6">
            <p-image src="carousel1.png" alt="product" styleClass="flex justify-center w-full object-cover" />
        </div>
        <div class="swiper-slide py-6">
            <p-image src="carousel2.png" alt="product" styleClass="flex justify-center w-full object-cover" />
        </div>
    </div>
</div>