<header class="grid grid-cols-1 grid-rows-2 gap-4 md:px-20 sm:px-8 px-4 py-6 h-min w-full bg-green-100/50">
    <div class="flex sm:justify-between justify-start sm:flex-row flex-col gap-4 h-min row-span-2">
        <!-- LOGO -->
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="flex justify-center">
            <img class="w-40 object-contain" src="FreshcartLogo.png" alt="Freshcart Logo">
        </a>

        <!-- SEARCH INPUT -->
        <div class="relative bg-stone-100 px-8 py-2 rounded sm:flex hidden">
            <i class="pi pi-search absolute left-2 top-[0.6em] text-green-500"></i>
            <input class="outline-none" type="text" placeholder="Search essentials, groceries and more...">
        </div>

        <!-- LOGIN AND CART -->
        <div class="flex gap-2 sm:flex hidden items-center">
            <button class="flex place-items-center gap-2">
                <i class="pi pi-user text-green-500"></i>
                <p>Login</p>
            </button>

            <span class="text-stone-500">|</span>

            <a routerLink="cart" routerLinkActive="active" ariaCurrentWhenActive="page" class="cursor-pointer">
                <div class="flex place-items-center gap-2">
                    <i class="pi pi-shopping-cart text-green-500" pBadge value="{{cartQtt$ | async }}" badgeSize="small"></i>
                    <p>Cart</p>
                </div>
            </a>
        </div>
    </div>

    <!-- CATEGORY SECTION -->
    <div class="flex flex-wrap justify-center gap-4 text-nowrap">
        <!-- <app-category name="Fruits & Vegetables" [options]="fruits"></app-category> -->
        <!-- <app-category name="Dairy & Breakfast" [options]="array"></app-category> -->
        <!-- <app-category name="Egg, Meat & Fish" [options]="array"></app-category> -->
        <!-- <app-category name="Bath & Body" [options]="array"></app-category> -->
        <!-- <app-category name="Cold drinks & Juices" [options]="array"></app-category>
        <app-category name="Snacks and Munchies" [options]="array"></app-category> -->
        <!-- <app-category name="Ice Delights" [options]="array"></app-category> -->
    </div>
</header>