<main>
  <h1>hello world</h1>

  <p>array sem pipe: {{ namesCopy }}</p>
  <!-- Pipe ordena o array alfabeticamente -->
  <p>array com pipe: {{ names | customPipe }}</p>

  <!-- Reactive Form -->
  <app-form></app-form>

  <!-- @if(showTest){
    <app-test-component></app-test-component>
    <app-observables></app-observables>
  } -->
  
  <!-- <app-test-component></app-test-component> -->

  <!-- <button (click)="toggleTest()">{{ showTest ? 'Esconde' : 'Mostra' }}</button> -->

  <hr>

  <app-exhaustmap></app-exhaustmap>

  <hr>

  <app-state></app-state>
</main>