<span class="flex justify-between items-center bg-amber-400 opacity-75 sm:text-xs text-[0.5em] font-medium md:px-20 sm:px-8 px-4 py-2">
    <p>Delivery in 10 minutes</p>

    <div class="flex gap-2 items-end">
        <p class="flex place-item-center">
            <i class="pi pi-map-marker text-green-500"></i>
            Deliver to 411017
        </p>
        <mat-divider [vertical]="true"></mat-divider>
        <p class="flex place-item-center">
            <i class="pi pi-truck text-green-500"></i>
            Track your order
        </p>
        <mat-divider [vertical]="true"></mat-divider>
        <p class="flex place-item-center">
            <i class="pi pi-verified text-green-500"></i>
            All Offers
        </p>
    </div>
</span>